.QuizAnswers .question {
    margin: 0;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.QuizAnswers .answer {
    border: 1px solid #293264;
    border-radius: 8px;
    padding: 0.2em 0.9em;
    cursor: pointer;
}

.QuizAnswers-answers {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}