* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: #293264;
}

.App {
    /* max-width: 550px; */
    max-width: 550px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: #F5F7FB;
    background-image: url(./Images/blobs-yellow.png), url(./Images/blobs-blue.png);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
}

.App .question-container {
    padding: 40px 75px 25px;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
}

.Intro .intro-container {
    text-align: center;
}

.Intro .title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin: 0;
}

.Intro .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

button {
    background: #4D5B9E;
    color: #F5F7FB;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.Intro .start-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0.7em 3.9em;
}

.QuizData {
    border-bottom: 0.8px solid #DBDEF0;
    padding: 15px 0;
}

.Quiz .question {
    margin: 0;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.App .check-answers {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    padding: 1em 2em;
    display: block;
    margin: 20px auto 0;
}

.Quiz .answer {
    border: 1px solid #293264;
    border-radius: 8px;
    padding: 0.2em 0.9em;
    cursor: pointer;
}

.quiz-answers {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}